<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Calculadora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Calculadora</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Valor A</ion-label>
        <ion-input type="number" [(ngModel)]="valorA"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Valor B</ion-label>
        <ion-input type="number" [(ngModel)]="valorB"></ion-input>
      </ion-item>

      <ion-button expand="block" (click)="calcular()">Calcular</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div *ngIf="resultados" class="ion-padding">
      <p><strong>Valor A:</strong> {{ valorA }}</p>
      <p><strong>Valor B:</strong> {{ valorB }}</p>
      <p>Suma*{{ resultados['suma'] }}</p>
      <p>Resta*{{ resultados['resta'] }}</p>
      <p>Multiplicación*{{ resultados['multiplicacion'] }}</p>
      <p>División*{{ resultados['division'] }}</p>
    </div>
  </ion-toolbar>
</ion-footer>
